<ion-view title="About" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/People_around_you.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 9px;"></div>
        <p id="about-markdown14" style="color:#FFFFFF;text-align:center;" class=" ">People around you is the product of the summer project for the 2015-16 MSc conversion Computer Science from the University of Bristol.</p>
        <p id="about-markdown15" style="color:#FFFFFF;" class=" ">
            <strong>Developer:</strong>Vlasios Perdikidis</p>
        <p id="about-markdown16" style="color:#FFFFFF;" class=" ">
            <strong>Supervisor:</strong>David Bernhard</p>
    </ion-content>
</ion-view>