<ion-view title="Profile Information" id="page12" class=" ">
    <ion-content padding="true" class="has-header">

        <form ng-submit="profileInfo()" name="actiationForm" class="list ">
            <label class="item item-input ">
                <span class="input-label" id="avatarSpan">AVATAR:</span>
                <ion-item class="item item-avatar noBoarder">
                    <img id="avatarIcon" src="img/avatarDefault.jpg">
                </ion-item>
                <div class="col text-right">
                    <button id="avatarButton" ng-click="changeAvatarPhoto()" type="button" style=" border-radius:50px 50px 50px 50px;"  class=" button button-calm icon-center ion-edit"></button>
                </div>
            </label>
            <label class="item item-input ">
                <span class="input-label">Name: </span>
                <input name="firstName" ng-model="data.firstName" type="text" placeholder="optional">
            </label>
            <label  class="item item-input ">
                <span class="input-label">Surname: </span>
                <input name="lastName" ng-model="data.lastName" type="text" placeholder="optional">
            </label>
            <label class="item item-input ">
                <span class="input-label">Status/Interest:</span>
                <input name="status" ng-model="data.status" type="text" placeholder="optional">
            </label>
            <label class="item item-input ">
                <span class="input-label">Phone:</span>
                <input name="phone" ng-model="data.phone" type="tel" placeholder="optional" >
            </label>
            <label class="item item-input ">
                <span class="input-label">Date of Birth:</span>
                <input name="date" ng-model="data.date" type="date" placeholder="optional">
            </label>
            <label class="item item-select " id="profile-select1">
                <span class="input-label">Favourite languages</span>
                <select name="languageSelect" ng-model="data.languageSelect" ng-change="showSelectedValue(data.languageSelect)">
                    <option></option>
                    <option>other</option>
                    <option>Java</option>
                    <option>C</option>
                    <option>C++</option>
                    <option>Javascript</option>
                    <option>Python</option>
                    <option>mysql</option>
                    <option>AngularJS</option>
                    <option>HTML</option>
                    <option>PHP</option>
                    <option>C#</option>
                </select>
            </label>
            <div class="animate" ng-show="otherOptions" >
                <label class="item item-input ">
                    <span class="input-label">Please specify:</span>
                    <input ng-model="data.languageInput" name="languageInput" type="text" placeholder="...">
                </label>
            </div>
            <button type="submit" style=" border-radius:50px 50px 50px 50px;" class=" button button-calm  button-block icon-right ion-ios-arrow-forward ">Enter</button>
        </form>

    </ion-content>
</ion-view>
