<ion-view title="Chats" id="page9" class=" ">
    <ion-content padding="true" class="has-header">

        <ion-list>
          <ion-item class="item-avatar item-icon-right calm " ng-repeat="user in lista"
                    href="#/side-menu/chats/{{user.nickname}}">
              <img src="{{user.avatar}}">
              <h2calm>
                  {{user.nickname}}
                  <i class="icon ion-ios-arrow-right"></i>
              </h2calm>
          </ion-item>
          <p id="emptyChats" style="text-align: center">fainetai </p>
        </ion-list>

    </ion-content>
</ion-view>
