<ion-view title={{nickname}} id="page10" class=" ">
    <ion-content has-bouncing="true" padding="true" delegate-handle="userMessageScroll"
                 class="has-header has-footer">

        <!-- Text that will show if there is no chat in this conversation  -->
        <p id="noMessages" style="text-align: center"> </p>

        <!--Credit for the chat bubles to Ross Martin
           https://forum.ionicframework.com/t/ionic-elastichat-chat-demo-w-auto-resizing-textarea/13562  -->
        <div ng-repeat="message in messages" class="message-wrapper">
            <!--messages not from owner  -->
            <div ng-if="owner.nickname !== message.author">
                <img class="profile-pic left" ng-src="{{userAvatar}}"  />
                <div class="chat-bubble left">
                    <div class="message" ng-bind-html="message.message" autolinker>
                    </div>
                    <div class="message-detail">
                        <span class="bold"> {{message.author}} </span>
                    </div>
                </div>
            </div>
            <!--Messages from the owner  -->
            <div ng-if="owner.nickname === message.author">
                <img class="profile-pic right" ng-src="{{owner.avatar}}"  />
                <div class="chat-bubble right">
                    <div class="message" ng-bind-html="message.message" autolinker>
                    </div>
                    <div class="message-detail">
                        <span class="bold"> {{message.author}} </span>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

    <!-- send message form at the bottom of the page -->
    <!-- Credit for this piece of code to: http://codepen.io/rossmartin/pen/XJmpQr/?editors=1010
         Accesed: 4/8/20016  -->
    <form name="sendPrivateMessageForm" ng-submit="sendPrivateMessage()">
        <ion-footer-bar class="bar-light item-input-inset ">
            <label class="textTeal item item-input-wrapper" >
                <textarea  id="chatMessage" ng-model="data.message" ng-focus="focusFunction()" placeholder="Enter text..." required minlenght="1" maxlength="1500" msd-elastic ></textarea>
            </label>
            <div class="footer-btn-wrap">
                <button class="textTeal button button-icon icon ion-android-send footer-btn" type="submit">
                </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>
