<label class="item item-input " id="login-input1">
    <span class="input-label">Email</span>
    <input type="email" name="email" placeholder="..." ng-model="data.email" required/>
</label>
<div style="color:red">
    <span  ng-show="dynamicForm.email.$dirty && dynamicForm.email.$invalid">
        <span ng-show="dynamicForm.email.$error.required">Email is required.</span>
        <span ng-show="dynamicForm.email.$error.email">Invalid email address.</span>
    </span>
</div>
<label class="item item-input " id="login-input2">
    <span class="input-label">Password</span>
    <input type="password" name="password" placeholder="..." ng-model="data.password" ng-minlength="6" ng-maxlength="50" required />
</label>
<div style="color:red">
    <span ng-show="dynamicForm.password.$dirty && dynamicForm.password.$invalid">
        <span ng-show="dynamicForm.password.$error.required">Password isrequired.</span>
        <span ng-show="dynamicForm.password.$error.minlength">Password must be atleast 6 characters long</span>
    </span>
</div>
