<ion-view title="Home" id="page1" class=" ">
    <ion-content padding="true" class="has-header has-footer" delegate-handle="homeScroll">

        <!-- The div for the CANVAS -->
        <div id="canvas" ng-click="addOnClick($event)">

        </div>

        <!-- The div for the TEXTS with the usres  -->
        <!--Credit for the chat bubles to Ross Martin
           https://forum.ionicframework.com/t/ionic-elastichat-chat-demo-w-auto-resizing-textarea/13562  -->
        <div id="messagingArea" >
            <div ng-repeat="message in messages" class="message-wrapper">
                <ion-list>
                    <div ng-if="owner.nickname !== message.author">
                        <img class="profile-pic left" ng-src="{{userAvatar}}"  />
                        <div class="chat-bubble left">
                            <div class="message" ng-bind-html="message.message" autolinker>
                            </div>
                            <div class="message-detail">
                                <span class="bold"> {{message.author}} </span>
                            </div>
                        </div>
                    </div>
                    <div ng-if="owner.nickname === message.author">
                        <img class="profile-pic right" ng-src="{{owner.avatar}}"  />
                        <div class="chat-bubble right">
                            <div class="message" ng-bind-html="message.message" autolinker>
                            </div>
                            <div class="message-detail">
                                <span class="bold"> {{message.author}} </span>
                            </div>
                        </div>
                    </div>
                </ion-list>
            </div>
        </div>
    </ion-content>

    <!-- Credit for this piece of code to: http://codepen.io/rossmartin/pen/XJmpQr/?editors=1010
         Accesed: 4/8/20016  -->
         <form name="sendMessageForm" ng-submit="sendMessage()">
             <ion-footer-bar class="bar-light item-input-inset ">
                 <label class="textTeal item item-input-wrapper" >
                     <textarea ng-model="data.message" id="homeMessage" ng-focus="focusFunction()" placeholder="Enter text..." required minlenght="1" maxlength="1500" msd-elastic ></textarea>
                 </label>
                 <div class="footer-btn-wrap">
                     <button class="textTeal button button-icon icon ion-android-send footer-btn" type="submit">
                     </button>
                 </div>
             </ion-footer-bar>
         </form>
</ion-view>
