<ion-view title="Login" id="page4" class=" ">
    <ion-content padding="true" style="background: url(img/va4A1eQ0RESYMuBeOkwK_featured3.jpg) no-repeat center;background-size:cover;" class="has-header">

        <div class="spacer" style="height: 80px;"></div>
        <a id="login-button1" ng-click="reveal = !reveal" style="border-radius:50px 50px 50px 50px;" class=" button button-calm  button-block icon-right ion-log-in ">Log In</a>
        <div class="animate" ng-show="reveal">
            <form id="loginForm" name="dynamicForm" ng-submit="loginSubmit()" method="post">
                <ion-list id="login-list2"  style="text-align: center;">
                    <div ng-include="'templates/emailForm.html'"></div>
                    <button type="submit" id="login-button2" class=" button button-calm icon-center ion-log-in "></button>
                </ion-list>
            </form>
        </div>
        <div style="text-align: center;">
            <ion-spinner ng-show="spinner" icon="bubbles" class="spinner-calm "></ion-spinner>
        </div>
        <a href="#/signup" id="signup-button1" style="border-radius:50px 50px 50px 50px;" class=" button button-calm  button-block icon-right ion-android-add-circle ">Sign Up</a>


    </ion-content>
</ion-view>
