<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>

        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="side-menu21"></ion-nav-view>

    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-calm">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list id="menu-list1" class=" ">
                <ion-item class="item-avatar calm  " id="menu-list-item6" href="#/side-menu/profile" menu-close="">
                    <img id="side-menu-avatar" src="img/round_face.png">
                    <h2calm>{{nickname}}
                        <p style="white-space:normal;">{{status}}</p>
                    </h2calm>
                </ion-item>
                <ion-item class="item-icon-left calm  backBlackish" id="menu-list-item1" href="#/side-menu/home" menu-close="">
                    <i class="icon ion-ios-circle-filled"></i>Home</ion-item>
                <ion-item class="item-icon-left calm  backBlackish" id="menu-list-item2" href="#/side-menu/chats" menu-close="">
                    <i class="icon ion-android-chat"></i>Chats</ion-item>
                <ion-item class="item-icon-left calm  backBlackish" id="menu-list-item4" href="#/side-menu/topics" menu-close="">
                    <i class="icon ion-ios-people"></i>topics</ion-item>
                <ion-item class="item-icon-left calm  backBlackish" id="menu-list-item7" href="#/side-menu/settings" menu-close="">
                    <i class="icon ion-android-settings"></i>Settings</ion-item>
                <ion-item class="item-icon-left calm  backBlackish" id="menu-list-item3" href="#/side-menu/about" menu-close="">
                    <i class="icon ion-ios-information"></i>About</ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
