<ion-view title="new password" id="page11" class=" ">
    <ion-content padding="true" class="has-header">

        <form id="newPassword-form12" class="list ">
            <div class="spacer" style="width: 300px; height: 70px;"></div>
            <label class="item item-input " id="newPassword-input17">
                <span class="input-label">Old password</span>
                <input type="password" placeholder="">
            </label>
            <label class="item item-input " id="newPassword-input18">
                <span class="input-label">New password</span>
                <input type="password" placeholder="">
            </label>
            <label class="item item-input " id="newPassword-input19">
                <span class="input-label">Re-confirm PW</span>
                <input type="password" placeholder="">
            </label>
            <button id="newPassword-button11" class=" button button-calm  button-block ">Change</button>
        </form>

    </ion-content>
</ion-view>
