<ion-view title="Profile" id="page2" class=" ">
    <ion-content padding="true" class="has-header">

        <div class="">
            <a style="display:block;" href="#/side-menu/profilePhoto">
                <img id="profile-page-avatar" src="img/round_face.png" width="100px" height="100px" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <ion-list>
            <ion-item class="item-divider textTeal" style="text-align: center">Personal Information</ion-item>
            <label class="item item-input textTeal" id="profile-input13">
                <span class="input-label">Name: {{name}}</span>
            </label>
            <label class="item item-input textTeal" id="profile-input14">
                <span class="input-label">Surname: {{surname}}</span>
            </label>
            <label class="item item-input " id="profile-input15">
                <span class="input-label">Nickname: {{nickname}}</span>
            </label>
            <label class="item item-input " id="profile-input21">
                <span class="input-label">Phone: {{phone}}</span>
            </label>
            <label class="item item-input " id="profile-input20">
                <span class="input-label">Date of birth: {{DOB}}</span>
            </label>
            <label class="item item-input " id="profile-textarea1">
                <span class="input-label">Status/Interes: {{status}}</span>
            </label>
            <label class="item item-input " id="profile-select1">
                <span class="input-label">Favourite languages: {{language}}</span>
            </label>
        </ion-list>
        <a  style="border-radius:50px 50px 50px 50px;" class=" button button-calm  button-block icon-right ion-edit ">Edit</a>

    </ion-content>
</ion-view>
