<ion-view title="Profile Photo" id="page6" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header" scroll="false">
        <div class="noBoarder" style="margin-left: -10px; width: calc(100% + 20px);">
            <img id="profilePhoto-image" src="img/round_face.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>

    </ion-content>
</ion-view>
