<ion-view title="Settings" id="page7" class=" ">
    <ion-content padding="true" class="has-header">

        <form id="settings-form11" class="list ">
            <ion-item class="item-avatar stable  " id="settings-list-item11" href="#/side-menu/profile">
                <img id="settingsAvatar" src="img/round_face.png">
                <h2 class="calm">{{nickname}}
                    <p style="white-space:normal;"> {{status}}</p>
                </h2>
            </ion-item>
            <ion-toggle toggle-class="toggle-calm" ng-checked="true" id="settings-toggle3" class=" textTeal">Show Online</ion-toggle>
            <ion-toggle toggle-class="toggle-calm" ng-checked="true" id="settings-toggle4" class=" textTeal">Show Username</ion-toggle>
            <ion-toggle toggle-class="toggle-calm" ng-checked="true" id="settings-toggle5" class=" textTeal">Show Status</ion-toggle>
            <ion-toggle toggle-class="toggle-calm" id="settings-toggle6" class=" textTeal">Others can view your info</ion-toggle>

           	<div class="item range range-calm">
          	  <label for="radius" class="textTeal"> Radius: </label>
			  <input type="range" min="50" id="radius" ng-model="value" max="500" step="50" value="100"
			  		 name="radius" ng-change="dragRange(value)">
			  <p class="textTeal">{{valueText}}</p>
			</div>

		 	<div class="item range range-calm">
          	  	<label for="FPS" class="textTeal"> Frame rate: </label>
			  	<input type="range" min="1" id="FPS" ng-model="FPS" max="3" step="1" value="3"
			  			name="FPS" ng-change="fpsChange(FPS)" >
			  	<p class="textTeal">{{rate}}</p>
			</div>
			<a ng-click="logOut()" style="color:#FFFFFF;border-radius:0px 0px 0px 0px;" class=" button button-calm  button-block noMarginTop">Log Out</a>
        </form>

    </ion-content>
</ion-view>
