<ion-view title="Signup" id="page5" class=" ">
    <ion-content padding="true" style="background: url(img/K7oWmQaVTYWPNvQHTI5h_featured3.jpg) no-repeat center;background-size:cover;" class=" manual-remove-top-padding has-header">

        <div class="spacer" style="width: 300px; height: 74px;"></div>
        <a id="signup-button3"  ng-click="reveal = !reveal" style="border-radius:50px 50px 50px 50px;" class=" button button-calm  button-block icon-left ion-email ">Email sign up</a>
        <div class="animate" ng-show="reveal">
            <form id="signupForm" name="dynamicForm" ng-submit="signupSubmit()" method="post">
                <ion-list id="login-list2"  style="text-align: center;">
                    <div ng-include="'templates/emailForm.html'"></div>
                    <label class="item item-input">
                        <span class="input-label">Nickname</span>
                        <input type="text" name="nickname" placeholder="nickname is required." ng-model="data.nickname" required>
                    </label>
                    <div style="color:red">
                        <span ng-show="dynamicForm.nickname.$dirty && dynamicForm.nickname.$invalid">
                            <span ng-show="dynamicForm.nickname.$error.required">nickname is required.</span>
                        </span>
                    </div>
                    <button type="submit" id="login-button2" class=" button button-calm icon-center ion-log-in "></button>
                </ion-list>
            </form>
        </div>
        <div style="text-align: center;">
            <ion-spinner ng-show="spinner" icon="bubbles" class="spinner-calm "></ion-spinner>
        </div>
        <a id="signup-button13" style="border-radius:50px 50px 50px 50px;" class=" button button-calm  button-block icon-left ion-social-linkedin-outline ">Linkedin sign up</a>

    </ion-content>
</ion-view>
