<ion-view title={{title}} class=" ">
    <ion-content has-bouncing="true" padding="true" delegate-handle="topicsScroll"
                 class="has-header has-footer">

        <!-- Text that will appear if there are no posts  -->
        <p id="noPosts" style="text-align: center"> </p>

        <!--Credit for the chat bubles to Ross Martin
           https://forum.ionicframework.com/t/ionic-elastichat-chat-demo-w-auto-resizing-textarea/13562  -->
            <div ng-repeat="post in posts" class="message-wrapper" >
                <!--messages not from owner  -->
                <div ng-if="owner.nickname !== post.author">
                    <img class="profile-pic left" ng-src="{{nameToAvatarMap[post.author]}}"  />
                    <div class="chat-bubble left">
                        <div class="message" ng-bind-html="post.message" autolinker>
                        </div>
                        <div class="message-detail">
                            <span class="bold"> {{post.author}} </span>
                        </div>
                    </div>
                </div>
                <!--Messages from the owner  -->
                <div ng-if="owner.nickname === post.author">
                    <img class="profile-pic right" ng-src="{{owner.avatar}}"  />
                    <div class="chat-bubble right">
                        <div class="message" ng-bind-html="post.message" autolinker>
                        </div>
                        <div class="message-detail">
                            <span class="bold"> {{owner.nickname}} </span>
                        </div>
                    </div>
                </div>
            </div>

    </ion-content>

    <!-- send message form at the bottom of the page -->
    <!-- Credit for this piece of code to: http://codepen.io/rossmartin/pen/XJmpQr/?editors=1010
         Accesed: 4/8/20016  -->
    <form name="sendMessageForm" ng-submit="sendPost()">
        <ion-footer-bar class="bar-light item-input-inset ">
            <label class="textTeal item item-input-wrapper" >
                <textarea  id="postTextarea" ng-focus="focusFunction()" placeholder="Enter text..." required minlenght="1"
                           maxlength="1500" ng-model="data.text" msd-elastic ></textarea>
            </label>
            <div class="footer-btn-wrap">
                <button class="textTeal button button-icon icon ion-android-send footer-btn" type="submit">
                </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>
