<ion-view title="Topics" id="page13" class=" ">
    <ion-content padding="true" class="has-header" delegate-handle="topicsScroll">

        <!--Text that will appear if there are no topics-->
        <p id="emptyTopics" style="text-align: center">fainetai </p>

        <ion-item class="item-avatar item-icon-right  " ng-repeat="topic in topics" on-hold="showFullTitle(topic.title)"
                  href="#/side-menu/topics/{{topic.topicId}}" ng-click="storeTitle(topic.title)">
            <img src="{{userToAvatarMap[topic.author]}}">
                <h2 class="calm" >
                    {{topic.author}}
                    <i class="icon ion-ios-arrow-right" ng-click="test()"></i>
                </h2>
                <h3 >
                    {{topic.title}}
                </h3>
        </ion-item>

        <a id="createTopic-button1" ng-click="displayInputField()" style="border-radius:50px 50px 50px 50px;" class=" button button-calm  button-block icon-right ion-android-add-circle ">Create New Topic</a>
        <div class="animate" ng-show="reveal" id="testing">
            <form id="createTopicForm" name="dynamicForm" ng-submit="createTopicForm()" method="post">
                <ion-list  style="text-align: center;">
                    <label class="item item-input " id="topicTitle">
                        <span class="input-label">Title</span>
                        <input type="text" name="title" value="" placeholder="..." ng-model="data.title" required/>
                    </label>
                    <div style="color:red">
                        <span  ng-show="dynamicForm.title.$dirty">
                            <span ng-show="dynamicForm.title.$error.required">Title is required.</span>
                        </span>
                    </div>
                    <button type="submit" id="createTopic-button2" class=" button button-calm icon-center ion-android-add-circle "></button>
                </ion-list>
            </form>
        </div>
        <div style="text-align: center;">
            <ion-spinner ng-show="spinner" icon="bubbles" class="spinner-calm "></ion-spinner>
        </div>

    </ion-content>
</ion-view>
