$calm: #009999;
$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "../www/lib/ionic/scss";
.backGreen {
	background-color: green !important;
}

.backBlack {
	background-color: black !important;
}

.backBlackish {
	background-color: #001111 !important;
}

.shortWidth {
	width: 50% !important;
}

.noBoarder {
	border: 0px !important;
}

.noMarginTop {
	margin-top: 0px !important;
}

.textBlack {
	color: black !important;
}

.textTeal {
	color: #009999 !important;
}

.textCenter {
	text-align: center !important;
}

ion-view,.pane,.view {
	background-color: #111111;
}

body {
	color: #FFFFFF;
}

